@charset "UTF-8";

/* 回答はここに書いてね */
.contents{
  background-color: #eff3f4;
  width: 900px;
  margin: 0 auto;
  padding: 20px;  
 }

 .text{
  font-size: 18px;
  line-height:22px;
  text-align: left;
  word-break: break-all;
 }

.left-img{
  float:left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.right-img{
  float:right;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* 回答はここに書いてね */
