
@charset "UTF-8";

/* 回答はここに書いてね */
.box1 {
  width: 205px;
  font-size: 16px;
  float: left;
}

.box1-1 {
  margin-right: 50px; 
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.boxes2 {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
}

.box2-1 {
  vertical-align: middle;
  padding-right: 50px;
}

.box2 {
  display: table-cell;
  width: 205px;
  font-size: 16px;
}

.boxes3 {
  font-size: 0;
}

.box3 {
  width: 205px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.box3-1 {  
  margin-right: 50px;
}

.boxes4 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.box4 {
  width: 205px;
}

.boxes5 {
  display: flex;
}

.box5 {
  font-size: 16px;
}

.box5-1 {
  width: 300px;
  margin-right: 50px;
}

.box5-2 {
  flex: 1;
}
/* 回答はここに書いてね */
