
@charset "UTF-8";

/* 回答はここに書いてね */
.float-box {
  width: 205px;
  font-size: 16px;
  float: left;
}

.float-box:first-child {
  margin-right: 50px; 
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.table-boxes {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
}

.table-box:first-child {
  vertical-align: middle;
  padding-right: 50px;
}

.table-box {
  display: table-cell;
  width: 225px;
  font-size: 16px;
}

.inlineblock-boxes {
  font-size: 0;
}

.inlineblock-box {
  width: 205px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.inlineblock-box:first-child {  
  margin-right: 50px;
}

.flex-boxes {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-box {
  width: 205px;
}

.derived-boxes {
  display: flex;
}

.derived-box {
  font-size: 16px;
}

.derived-left {
  width: 300px;
  margin-right: 50px;
}

.derived-right {
  flex: 1;
}
/* 回答はここに書いてね */
