@charset "UTF-8";

/* 回答はここに書いてね */
.gray {
  background-color: #ecf1f2;
  padding: 20px;
}

.ber {
  width: 100%;
  display: table;
  margin-top: 20px;
}

.ber:first-child {
  margin-top: 0;
}

.ber-child {
  padding: 20px 0;
  text-align: center;
  display: table-cell;
}

.orange {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
}

.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow {
  background-color: #e5d32e;
 }

.red {
  background-color: #ec8f9a;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
