@charset "UTF-8";

/* 回答はここに書いてね */
.gray{
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.boxes{
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.box1{
  background-color: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
}

.box1::after{
  content: "";
  background-color: #ffefd3;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 90;
  width: 20px;
  height: 20px;
}

.box2{
  background-color: #7084de;
  position: absolute;
  top: 120px;
  left: 280px;
  z-index: 20;
}

.box3{
  background-color: #d0ecea;
  position: absolute;
  top: 200px;
  left: 360px;
  z-index: 30;
}

.box4{
  background-color: #8b7a5e;
  position: absolute;
  top:280px;
  left: 280px;
  z-index: 40;
}

.box5{
  background-color: #9fd6d2;
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 50;
}

.box6{
  background-color: #fffee4;
  position: absolute;
  top: 280px;
  left: 120px;
  z-index: 60;
}

.box7{
  background-color: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 70;
}

.box8{
  background-color: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 80;
}

.box9{
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
