@charset "UTF-8";

/* 回答はここに書いてね */
.kcal-table {
  width: 100%;
  table-layout:fixed;
}

.kcal-table th {
  color: white;
  background-color: #2244aa;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
}

.kcal-table td {
  text-align: center;
}

.kcal-table tr:nth-child(2n) {
  background-color:#ecf1f2;
}

.kcal-table tbody tr:last-child {
  border-top: dashed #000 2px;
}

.kcal-table td,.kcal-table th {
  border:solid #dedede 1px
}
/* 回答はここに書いてね */
