@charset "UTF-8";

/* 回答はここに書いてね */
.align-box{
  text-align: center;
}

.align{
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.margin{
  text-align: center;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  margin: 0 auto;
}

.table-parent{
  display: table;
}

.table-box{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} 

.table{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
 
  
} 

.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
 padding: 10px;
  background-color: #fff;
}


.stable_box{
  position: relative;
}

.stable{
  width: 110px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.flexible_box{
  position: relative;
}

.flexible{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
