@charset "UTF-8";

/* 回答はここに書いてね */
.car-box {
  width: 500px;
  height: 333px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.car-sentence {
  opacity: 0;
  font-size: 16px;
  line-height: 16px;
  color: white;
  word-break: break-all;
  position: absolute;
  left: 20px;
  bottom: -120px;
  padding-right: 20px;
}

.car-tra {
  transition: 0.5s;
}

.car-box:hover .car-img {
  transform: scale(1.5); 
}

.car-box:hover .car-sentence {  
  opacity: 1;
  transform: translateY(-140px);
  z-index: 10;
}

.car-box:hover.car-box:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8));
}

.circle {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 10px solid #ecf1f2;
  border-top-color: #00bcd4;
  border-radius: 65px;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: roll;
}

@keyframes roll {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 回答はここに書いてね */
